{% extends 'base.html' %}

{% block title %}Help Center - TrainEats{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Help Center</h1>
    <p>Welcome to the TrainEats Help Center. Find answers to your questions below.</p>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Getting Started</h4>
            <p>Learn how to create an account, place your first order, and use a PNR number to get started.</p>
        </div>
        <div class="col-md-6">
            <h4>Managing Your Order</h4>
            <p>Find out how to track your order, report an issue, or cancel a delivery.</p>
        </div>
    </div>
</div>
{% endblock %} 