{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}PNR Order - TrainEats{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Enter PNR Details</h3>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.pnr_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.train_number|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.train_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.journey_date|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.from_station|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.to_station|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.class_type|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.passenger_count|as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-ticket-alt me-2"></i>Submit PNR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 






